In [1]:
import pandas as pd

# Read the data
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")

# Separate target from predictors
y_train = train_data.Survived
X_train = train_data.drop(['Survived', 'PassengerId'], axis=1)
X_test = test_data.drop(['PassengerId'], axis=1)

# Select categorical columns with relatively low cardinality
categorical_cols = [cname for cname in X_train.columns if X_train[cname].nunique() < 10 and X_train[cname].dtype == 'object']

#Select numerical columns
numerical_cols = [cname for cname in X_train.columns if  X_train[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = categorical_cols + numerical_cols
X_train = X_train[my_cols]
X_test = X_test[my_cols]

In [2]:
X_train.head()

      Sex Embarked  Pclass   Age  SibSp  Parch     Fare
0    male        S       3  22.0      1      0   7.2500
1  female        C       1  38.0      1      0  71.2833
2  female        S       3  26.0      0      0   7.9250
3  female        S       1  35.0      1      0  53.1000
4    male        S       3  35.0      0      0   8.0500

In [3]:
X_test.head()

      Sex Embarked  Pclass   Age  SibSp  Parch     Fare
0    male        Q       3  34.5      0      0   7.8292
1  female        S       3  47.0      1      0   7.0000
2    male        Q       2  62.0      0      0   9.6875
3    male        S       3  27.0      0      0   8.6625
4  female        S       3  22.0      1      1  12.2875

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='constant')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
])

In [5]:
from xgboost import XGBClassifier

model = XGBClassifier(n_estimators=1000, learning_rate=0.05)

In [6]:
# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', model)    
                             ])

# Preprocessing of training data, fit model
my_pipeline.fit(X_train, y_train)

# Preprocessing of test data, get predictions
preds = my_pipeline.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': preds})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!